{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<ul>
			<li>
				{{ tableau[0] }}
			</li>
			<li>
				{{ tableau['1'] }}
			</li>
			<li>
				{{ tableau["2"] }}
			</li>
		</ul>


		<ul>
			<li>
				{{ personne.id }}
			</li>
			<li>
				{{ personne.getNom() }}
			</li>
			<li>
				{{ personne.prenom() }}
			</li>
			{# concaténation#}
			<li>
				{{ personne.prenom ~ " " ~ personne.nom }}
			</li>
			{{ dump(personne) }}
		</ul>

		{# effectuer une déclaration de variable dans la vue twig #}
		<ul>
			{% set chaine = "bonjour" %}
			<li>
				{{ chaine }}
			</li>
			{% set chaine = "bonsoir" %}
			<li>
				{{ chaine }}
			</li>
			{# Opération sur les variables #}
			{% set x = 5 %}
			{% set y = 3 %}
			<li>
				{{ x + y }}
			</li>
			<li>
				{{ chaine starts with "h" }}
			</li>
			<li>
				{{ 8 in tableau }}
			</li>
			<li>
				{{ 80  not in tableau }}
			</li>
			<li>
				{{ tableau starts with 2 }}
			</li>
			<li>
				{{ chaine matches '/^b.{5}r$/'}}
			</li>
			<li>
				{% if 8 in tableau %}
					yes
				{% else %}
					no
				{% endif %}
			</li>
			<li>
				{% if tableau[0] < 0  %}
					{{ tableau[0] ~ ' est négatif' }}
				{% elseif tableau[0] > 0 %}
					{{ tableau[0] ~ ' est positif'}}
				{% elseif tableau[0] == 0 %}
					{{ tableau[0] ~ ' est null' }}
				{% endif %}
			</li>
			<li>
				{% if x is defined  %}
					{{ 'valeur de x : ' ~ x }}
					{{ x ~ " n'est pas défini"}}
				{% endif %}
			</li>
			<li>
				{% if tableau[0] is even  %}
					{{ tableau[0] ~ ' est pair' }}
				{% else %}
					{{ tableau[0] ~ ' est impair' }}
				{% endif %}
			</li>
			<li>
				{% if tableau[0] is divisible by (2)  %}
					{{ tableau[0] ~ ' est pair' }}
				{% else %}
					{{ tableau[0] ~ ' est impair' }}
				{% endif %}
			</li>
			<li>
				{% if tableau[0] is divisible by (3)  %}
					{{ tableau[0] ~ ' est divisible par 3' }}
				{% else %}
					{{ tableau[0] ~ " n'est pas divisible par 3" }}
				{% endif %}
			</li>
		</ul>
		{# Parcourir un tableau avec le for in #}
		<ul>
			<li>
				{% for elt in tableau %}
					<li>
						{{ elt }}
					</li>
				{% endfor %}
			</li>
		</ul>
		<ul>
			{% for elt in tableau %}
				{% if elt is even %}
					<li>{{elt ~ " est pair" }}</li>
				{% else %}
					<li>{{elt ~ " est impair" }}</li>
				{% endif %}
			{% endfor %}
		</ul>
		<ul>
			{% for elt in 'a'..'z' %}
				{{ elt }}
			{% endfor %}
		</ul>
		<ul>
			{% for elt in range('d', 'm') %}
				{{ elt }}
			{% endfor %}
		</ul>
		<ul>
			{% for elt in range('d', 'a') %}
				{{ elt }}
			{% endfor %}
		</ul>
		<ul>
			{% for key, value in tableau %}
				<li>{{ "clé: " ~ key ~ " - valeur: " ~ value }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for elt in tableau %}
				<li>{{ loop.index }}
					:
					{{ loop.index0 }}
					:
					{{ loop.first ? "premier" : "nom premier" }}
					:
					{{ loop.last ? "dernier" : "non dernier" }}
					=>
					{{ elt }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
